@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
    --Figtree: 'Figtree', sans-serif;
}

body {
    font-family: var(--Figtree);
    background-color: var(--Yellow);
    color: var(--Gray-950);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
}

main {
    background-color: var(--White);
    padding: 18px;
    display: flex;
    border-radius: 12px;
    height: fit-content;
    width: 373px;
}

.content .img img {
    border-radius: 14px;
}

.content .texts h5 {
    width: fit-content;
    background-color: var(--Yellow);
    margin-top: 26px;
    border-radius: 4px;
    padding: 5px 16px 5px 16px;
    color: var(--Gray-950);
    font-size: 16px;
}

.content .texts h4 {
    margin-top: 20px;
    font-size: 14px;
    color: var(--Gray-950);
    font-weight: 500;
}

.content .texts h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 800;
}

.content .texts p {
    margin-top: 18px;
    font-size: 15px;
    color: var(--Gray-500);
    font-weight: 400;
    line-height: 24px;
}

.greg {
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 18px;
}

.greg h4 {
    font-size: 14px;
    color: var(--Gray-950);
    font-weight: 500;
}


.content .texts h3:hover {
    color: var(--Yellow);
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    body {
        padding: 10px 0;
    }
    main {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .content .img img {
        width: 100%;
        height: auto;
        border-radius: 12px;
    }
    .content .texts h3 {
        font-size: 18px;
    }

    .content .texts h5,
    .content .texts h4,
    .greg h4 {
        font-size: 12px;
}
   .content .texts p {
        font-size: 13px;
        line-height: 20px;
}
    .greg{
        gap: 10px
    }

}